@using WebApplication1.ViewModels;
@model CustomerViewModel

<html>

<head>
    <title>Customer Editing </title>
    
</head>
<body class="p-3 mb-2 bg-warning text-white">
    <form asp-action="Update" asp-controller="Customer">
        <input type="hidden" asp-for="@Model.Code" value="@Model.Code" /><br>
        <fieldset>
            <legend>Edit Product</legend>
            <div>
                <label for="Name">Product Name:</label>
                <input type="text" name="Name" value="@Model.Name" />
            </div>
            <br>
            <div>
                <label for="CategoryCode" val>CategoryCode:</label>
                <select asp-for="@Model.CategoryCode">
                    <option value="1">Phones</option>
                    <option value="2">Watches</option>
                    <option value="3">Laptops</option>
                </select>
            </div>
            <br />
            <div>
                <label for="AreaCode">BrandCode:</label>
                <select asp-for="@Model.AreaCode">
                    <option value="1">Apple Brand</option>
                    <option value="2">  Noise</option>
                    <option value="3">Dell</option>
                </select>
            </div>
            <br 
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
</body>
</html>
